In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
names = ["Bala","Logesh","Vicky","Muthu",1,2,3,4]
print(names)

['Bala', 'Logesh', 'Vicky', 'Muthu', 1, 2, 3, 4]

In [3]:
mixed_list = [1,"Hello",3.1,True]
print(mixed_list)

[1, 'Hello', 3.1, True]

In [8]:
## Assessing list Elements

fruits = ["apple","banana","orange","berry","kiwi","cherry"]

print(fruits[0])
print(fruits[3])
print(fruits[5])
print(fruits[-1]) #last index

apple
berry
cherry
cherry

In [9]:
print(fruits[1:])

['banana', 'orange', 'berry', 'kiwi', 'cherry']

In [10]:
print(fruits[1:3])

['banana', 'orange']

In [11]:
# Modify the list elements

fruits

['apple', 'banana', 'orange', 'berry', 'kiwi', 'cherry']

In [14]:
fruits[1:] = "Watermelon"

In [15]:
fruits

['apple', 'W', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [16]:
fruits = ["apple","banana","orange","berry","kiwi","cherry"]

In [17]:
## Lists Method

fruits.append("Watermelon") #add an item to the end
print(fruits)

['apple', 'banana', 'orange', 'berry', 'kiwi', 'cherry', 'Watermelon']

In [22]:
fruits.insert(2,"Guava")

print(fruits)

['apple', 'banana', 'Guava', 'orange', 'berry', 'kiwi', 'cherry', 'Watermelon']

In [23]:
fruits.remove("Guava") ## Removing the first occurance of the item
print(fruits)

['apple', 'banana', 'orange', 'berry', 'kiwi', 'cherry', 'Watermelon']

In [25]:
## Remove and return the last element

popped_fruits = fruits.pop()

print(popped_fruits)
print(fruits)

cherry
['apple', 'banana', 'orange', 'berry', 'kiwi']

In [26]:
index = fruits.index("orange")

print(index)

2

In [28]:
fruits.insert(1,"banana")
print(fruits)
print(fruits.count("banana"))

['apple', 'banana', 'banana', 'banana', 'orange', 'berry', 'kiwi']
3

In [30]:
fruits.sort()
fruits

['apple', 'banana', 'banana', 'banana', 'berry', 'kiwi', 'orange']

In [33]:
fruits.reverse() ## Reverse the list

fruits

['orange', 'kiwi', 'berry', 'banana', 'banana', 'banana', 'apple']

In [34]:
fruits.clear() #Removing all the items in list

fruits

[]

In [4]:
## Slicing Lists

numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

s = 'Reverse'

print(s[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
esreveR

In [38]:
print(numbers[::-2])

[10, 8, 6, 4, 2]

In [39]:
## Iterating the list

fruits = ["apple","banana","orange","berry","kiwi","cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
orange
berry
kiwi
cherry

In [40]:
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [44]:
## Iterating with Index

for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [45]:
lst = []

for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
lst.remove(9)
print(lst)

[0, 1, 4, 16, 25, 36, 49, 64, 81]

In [47]:
lst.insert(3,9)
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension

Basics syntax  [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested Listed Comprehension [expression for item1  ]in iterable 1 for item2 in iterable 2]

In [53]:
## basic List comprehension

square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
## List comprehension with condition

even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
## Nested List Comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j]for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [2]:
## List comprehension function calls

word = ["Bala","Hello","World","Good"]

length = [len(words)for words in word]

print(length)

[4, 5, 5, 4]