In [22]:
##Creating a tuple

empty_tuple = ()

print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [23]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [24]:
numbers = tuple([1,2,3,4,5,6])

print(numbers)

(1, 2, 3, 4, 5, 6)

In [25]:
list((1,2,3,4))

[1, 2, 3, 4]

In [26]:
mixed_tuple = (1,"Hello",3.24,True)

print(mixed_tuple)

(1, 'Hello', 3.24, True)

In [27]:
print(numbers)

(1, 2, 3, 4, 5, 6)

In [28]:
print((numbers[2]))

3

In [29]:
numbers[0:4]

(1, 2, 3, 4)

In [30]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [31]:
numbers[::]

(1, 2, 3, 4, 5, 6)

In [32]:
## Tuples operations

concatenation_tuple = mixed_tuple + numbers

print(concatenation_tuple)

(1, 'Hello', 3.24, True, 1, 2, 3, 4, 5, 6)

In [33]:
mixed_tuple*3

(1, 'Hello', 3.24, True, 1, 'Hello', 3.24, True, 1, 'Hello', 3.24, True)

In [34]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [35]:
## Immutable nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst = [1,2,3,4,5,6]
print(lst)

lst[1] = "Bala"
print(lst)

[1, 2, 3, 4, 5, 6]
[1, 'Bala', 3, 4, 5, 6]

In [36]:
numbers[1] = "Bala"

TypeError: 'tuple' object does not support item assignment

In [37]:
print(numbers)

(1, 2, 3, 4, 5, 6)

In [ ]:
##Tuple methods

print(numbers.count(1)) ##Counting the numbers
print(numbers.index(3)) ##It will tell the index number of the elements given

1
2

In [38]:
## Packing and Unpacking
## Packing

packed_tuple = 1,"Hello",3.14

print(packed_tuple)

(1, 'Hello', 3.14)

In [39]:
## Unpacking

a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [40]:
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [44]:
##Nested tuple
##Nested List

lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0][2])
print(lst[0][0:3])

3
[1, 2, 3]

In [45]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))

##Accessing the elements
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [47]:
#iterating over the tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False